body {
  margin: 0;
}
.wrapper {
  background: linear-gradient(
    45deg,
    #ffffff,
    #e7e7e7,
    #d1d1d1,
    #b6b6b6,
    #9b9b9b
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
