body {
  margin: 0;
}
.wrapper {
  background: linear-gradient(
    45deg,
    #2af598,
    #22e4ac,
    #1bd7bb,
    #14c9cb,
    #0fbed8,
    #08b3e5
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
